.about {
    margin: 0 auto;
    max-width: 1200px;
    display: grid;
    grid-template-columns: auto auto;
    grid-auto-rows: min-content;
    gap: 0 20px;
    grid-template-areas:
      "img hd"
      "img p1"
      "img p2"
}

.about h1 {
    grid-area: hd;
}

.img {
    grid-area: img;
    border-radius: 50%;
    margin: 0 auto;
}

@media(max-width: 600px) {
    .about {
        grid-template-columns: auto;
        grid-template-areas:
            "hd"
            "p1"
            "img"
            "p2"
    }
}