.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    width: 350px;
    border: 1px solid var(--light-gray);
    border-radius: 10px;
    /* Flex-gap stand-in */
    margin: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px var(--light-gray);
    /* Override default link styles */
    color: inherit;
    text-decoration: inherit;
    outline: 0;
}

/* Add back new selection emphasis styles */
.card:hover .card:active .card:focus {
    box-shadow: 0 0 20px var(--light-gray);
    transform: translateY(-2px);
    cursor: pointer;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 10px;
    flex-grow: 1;
}

.card-content > * {
    margin: 10px 0;
    flex-grow: 0;
}

/* Since all cards will be same height, ensure last thing in card consumes remaining height */
.card-content > *:last-child {
    flex-grow: 1;
}

.card img {
    width: 100%;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}
.tag {
    font-size: 0.8rem;
    padding: 2px 15px;
    margin: 2px 2px 2px 0;
    background-color: var(--light-gray);
    border-radius: 1rem;
}
