/* 
    To be included in all pages and applied after normalize.css
    - these are basically global styles 
*/

* {
    font-family: Lora, sans-serif;
    box-sizing: border-box;
}

:root {
    --max-width: 1600px;
    --margin: 20px;
}

.content-shell {
    margin: 0 auto;
    max-width: var(--max-width);
    padding: var(--margin);
}

.header-wrapper {
    background-color: #eeeeee;
    border-bottom: 0.1px solid rgb(151, 151, 151);
    margin-bottom: var(--margin);
}

.header-wrapper header {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: var(--max-width);
}
.header-wrapper h3 {
    margin: var(--margin);
 
}
.header-wrapper ul {
    width: fit-content;
    padding: 0 0;
    margin: 0 0;
    display: flex;
    justify-content: space-between;
}
.header-wrapper ul li {
    margin: var(--margin);
    list-style: none;
}


.link, .link-selected {
    text-decoration: none;
    color: inherit;
}
.link-selected {
    font-weight: 900;
}