/* 
    To be included in all pages and applied after normalize.css
    - these are basically global styles 
*/

* {
    font-family: Muli, sans-serif;
    box-sizing: border-box;
    font-size: 20px;
}

html {
    /* Force vertical scrollbars not to shift content */
    margin-right: calc(100% - 100vw);
    overflow-x: hidden;
}

body{
    padding-right: 0px !important;
}

h1, h2, h3, h4, h5 {
    font-family: Lora, serif;
    font-weight: 700;
}

h1 { font-size: 2em;}
h2 { font-size: 1.6em;}
h3 { font-size: 1.4em;}

:root {
    --max-width: 1600px;
    --content-max-width: 1200px;
    --margin: 20px;
    --light-gray: #c9c9c9; 
}

.content-shell {
    margin: 0 auto;
    width: var(--content-max-width);
    padding: var(--margin);
}

.header-wrapper {
    margin-bottom: var(--margin);
}

.header-wrapper header {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: var(--max-width);
}
.header-wrapper h3 {
    margin: var(--margin);
    font-size: 1.3em;
 
}
.header-wrapper ul {
    width: fit-content;
    padding: 0 0;
    margin: 0 0;
    display: flex;
    justify-content: space-between;
}
.header-wrapper ul li {
    margin: var(--margin) 5px;
    list-style: none;
}


.link, .link-selected {
    padding: 5px 10px;
    text-decoration: none;
    color: inherit;
}
.link-selected {
    font-weight: 900;
}
